# Requirements created by pip-reqs
beautifulsoup4==4.11.1
cwl_utils==0.21
docopt==0.6.2
libica==2.2.0
mdutils==1.4.0
pandas==1.5.2
PyJWT==2.6.0
ruamel.yaml==0.17.21
requests==2.28.1
ruamel.base==1.0.0
tabulate==0.9.0
verboselogs==1.7
websocket_client==1.4.2
# Manual additions
cwltool==3.1.20221201130942
pandoc==2.3
pypandoc==1.10
pypandoc_binary==1.10
humanfriendly==10.0
matplotlib==3.7.1